* {
	background-color: black;	
	overflow: hidden;
}

.container {
	justify-content: center;
	align-items: center;
  flex-direction: column;
	display: flex;
	height: 100%;
	image-rendering: pixelated;
	transform: scale(2.5);
}

#textures {
  position: relative;
  top: 0;
  display: none;
}

